In [1]:
# import dependencies
import pandas as pd  # Create a data frame with given columns and value

In [2]:
hey_arnold = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold  # Rename columns to clean up the look  # Organize columns into a more logical order

  Character_in_show color_of_hair   Height  Football_Shaped_Head
0            Arnold        blonde  average                  True
1            Gerald         black  tallish                 False
2             Helga        blonde  tallish                 False
3            Phoebe         black    short                 False
4            Harold       unknown     tall                 False
5            Eugene           red    short                 False

In [3]:
# Rename columns to clean up the look

hey_arnold_renamed = hey_arnold.rename(columns = {"Character_in_show": "Character", "color_of_hair": 'Hair Color', "Football_Shaped_Head": "Football Head"
    
})

hey_arnold_renamed

  Character Hair Color   Height  Football Head
0    Arnold     blonde  average           True
1    Gerald      black  tallish          False
2     Helga     blonde  tallish          False
3    Phoebe      black    short          False
4    Harold    unknown     tall          False
5    Eugene        red    short          False

In [4]:
 # Organize the columns so they are in a more logical order
    
hey_arnold_organized = hey_arnold_renamed[["Character", "Football Head", "Hair Color", "Height"]]   
    
    
hey_arnold_organized

  Character  Football Head Hair Color   Height
0    Arnold           True     blonde  average
1    Gerald          False      black  tallish
2     Helga          False     blonde  tallish
3    Phoebe          False      black    short
4    Harold          False    unknown     tall
5    Eugene          False        red    short